<style>
  .footer-text {
    font-style: italic;
    color: aqua;
    font-size: large;
    text-decoration: underline;
    text-align: center;
  }
  
</style>
<nav class="bottom-navbar">
  {% if form_module %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span> Ajouter un module
  </button>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📊</span>
    <span class="bottom-nav-text">Module attribué</span>
  </a>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📊</span>
    <span class="bottom-nav-text">Modules crées</span>
  </a>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📊</span>
    <span class="bottom-nav-text">Assigner un modules </span>
  </a>
  {% elif institution_form and institution_infos|length == 0  %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span> Ajouter une institution
  </button>
  <a style="display: none;"  href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📚</span>
    <span class="bottom-nav-text">Section existantes</span>
  </a>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">🔄</span>
    <span class="bottom-nav-text">Cycle existante</span>
  </a>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">🏫</span>
    <span class="bottom-nav-text">Classe existante</span>
  </a>
  {% elif campus_form %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span> Ajouter un campus
  </button>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📚</span>
    <span class="bottom-nav-text">Les campus crées</span>
  </a>
  {% elif annee_form %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span> Ajouter une année scolaire
  </button>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📚</span>
    <span class="bottom-nav-text">Les annees crées</span>
  </a>
  {% elif class_cycle_form %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span> Ajouter un cycle
  </button>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📚</span>
    <span class="bottom-nav-text">Les annees crées</span>
  </a>
  {% elif class_cycle_act_form %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span> Activer les cycles par année
  </button>
  <a href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📚</span>
    <span class="bottom-nav-text">Cycles non actifs</span>
  </a>
  <a href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📚</span>
    <span class="bottom-nav-text">Cycles actifs/Année</span>
  </a>
  {% elif class_form %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span> Créer une classe
  </button>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📚</span>
    <span class="bottom-nav-text">Classes crées non actives</span>
  </a>
  {% elif form_personnel %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Ajout du personnel
  </button>
  {% elif form_module_assigner %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Assigner un module
  </button>
  {% elif form_pers_categorie %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Ajout d'un catégorie du personnel
  </button>
  {% elif form_module_access %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Cliquer ici pour continuer
  </button>
  {% elif form_pers_diplome %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Ajout d'un diplome du personnel
  </button>
  {% elif form_pers_specialite %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Ajout d'une specialité du personnel
  </button>
  {% elif form_pers_vacation %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Ajout d'une vacation du personnel
  </button>
  {% elif form_user_vacation %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Designer un tutilaire de la classe
  </button>
  {% elif form_pers_type %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Ajout du type du personnel
  </button>
  {% elif trimestre_form %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Ajout d'un trimestre
  </button>
  {% elif periode_form %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Ajout d'une période
  </button>
  {% elif form_attrib %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>cliquer ici pour continuer
  </button>
  {% elif form_horaire_type %}
  <button class="bottom-nav-item open-modal-btn" >
    <span class="bottom-nav-icon">➕</span>cliquer ici pour creer le type d'horaire
  </button>
  {% elif form_horaire %}
  <button class="bottom-nav-item open-modal-btn" >
    <span class="bottom-nav-icon">➕</span>Programmer l'horaire annuelle
  </button>
  {% elif cours_cl_form %}
  <button id="openModal" class="bottom-nav-item" >
    <span class="bottom-nav-icon">➕</span>Crééer cours par classe
  </button>
  {% elif form_crs_cycle %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span> Ajouter un cours de ce cycle
  </button>
  {% elif affich_horaire %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>cliquer ici pour générer l'horaire
  </button>
  {% elif horaire_type_list %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Ajouter le type d'horaire
  </button>

  {% elif  class_active_form %}
  <button  id="openModal" class="bottom-nav-item" >
    <span class="bottom-nav-icon">➕</span>Activer les classes/années
  </button>
  {% elif  form_eleve %}
  <button  id="openModal" class="bottom-nav-item" >
    <span class="bottom-nav-icon">➕</span>Ajouter une inscription
  </button>
  {% elif  form_crs %}
  <button  id="openModal" class="bottom-nav-item" >
    <span class="bottom-nav-icon">➕</span>Ajouter un cours
  </button>
  {% elif show_nav_generer %}
  <button  id="openModal" class="bottom-nav-item" >
    <span class="bottom-nav-icon">➕</span>Générer un fichier excel
  </button>
  {% elif form_trimestre_class %}
  <button  id="openModal" class="bottom-nav-item" >
    <span class="bottom-nav-icon">➕</span>Créer les trimestres/classe
  </button>
  {% elif form_variable_categorie %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Créér le categorie des frais
  </button>
  {% elif form_variable %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Créér la variable pour les frais
  </button>
  {% elif form_armoire %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Créér l'armorire
  </button>
  {% elif form_compartement %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Créér les compartements/Armoire
  </button>
  {% elif form_category %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Créér le categorie pour un livre
  </button>
  {% elif form_livre %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Enregistrer un livre
  </button>

  {% elif form_livre_exemplaire %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Enregistrer un exemplaire pour un livre
  </button>

  {% elif form_variable_prix %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Créér le prix pour une variable donnée
  </button>
  <!-- form_variable_prix -->
  {% elif form_banque %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Insérer la banque pour epargne 
  </button>
  {% elif form_compte %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Créér le compte bancaire pour les frais
  </button>
  {% elif form_derogation %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Assigner une dérogation
  </button>
  {% elif form_paiement_validation %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Cliquez ici pour continuer
  </button>
  <!-- form_paiement_validation -->
  {% elif form_reduction %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Assigner une réduction
  </button>
  {% elif form_paiement %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Ajouter un paiement
  </button>
  {% elif form_butoire %}
  <button id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Assigner les dates butoires
  </button>
  {% elif form_periode %}
  <button  id="openModal" class="bottom-nav-item" >
    <span class="bottom-nav-icon">➕</span>Créer les periodes/classe
  </button>
  {% elif form_select %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Cliquer ici pour continuer
  </button>
  {% elif form_select_reclam %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Cliquer ici pour les reclammations
  </button>
  {% elif form_select_repechag %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Cliquer ici pour les repêchages
  </button>
  {% elif type_note_form %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Remplir le formulaire pour le type des notes
  </button>
  {% elif session_form %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Preciser les sessions
  </button>
  {% elif form_mention %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Créér la mention
  </button>
  {% elif form_type_delib %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Créér le type de délibération
  </button>
  {% elif form_finalit_delib %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Créér le type de délibération
  </button>
  {% elif form_condit_delib %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Créér les conditions de délibération
  </button>
  {% elif evaluation_form %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Cliquer ici pour continuer
  </button>
  {% elif form_select_bulletin %}
  <button class="bottom-nav-item open-modal-btn">
    <span class="bottom-nav-icon">➕</span>Selectionner ici pour continuer
  </button>
  {% elif form_select_inscrit %}
  <button  id="openModal" class="bottom-nav-item">
    <span class="bottom-nav-icon">➕</span>Selectionner ici pour visualiser les inscrits
  </button>
  {%  else %}
  <nav class="bottom-navbar">
    <p class="footer-text">&copy; <span id="year"></span> ICTGroup. Tous droits réservés.</p>
  </nav>
  <!-- form_select_bulletin -->
  {% endif %}
  
  <!-- session_form-->
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📊</span>
    <span class="bottom-nav-text">Niveau</span>
  </a>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">🏫</span>
    <span class="bottom-nav-text">Classe</span>
  </a>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📚</span>
    <span class="bottom-nav-text">Section</span>
  </a>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">🔄</span>
    <span class="bottom-nav-text">Cycle</span>
  </a>
  <a style="display: none;" href="#" class="bottom-nav-item">
    <span class="bottom-nav-icon">📊</span>
    <span class="bottom-nav-text">Niveau</span>
  </a>
  <a style="display: none;background-color: brown;" href="{% url 'log_out' %}" class="bottom-nav-item"
    onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
    <span class="bottom-nav-icon">🚪</span>
    <span class="bottom-nav-text">Déconnexion</span>
  </a>
</nav>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>