asgiref==3.8.1
Django==4.2.18
django-jazzmin==3.0.1
django-widget-tweaks==1.5.0
mysqlclient==2.2.7
openpyxl==3.1.5
pillow==11.1.0
python-decouple==3.8
pytz==2025.2
reportlab==4.4.1
sqlparse==0.5.3
whitenoise==6.6.0
xlsxwriter==3.2.5
