asgiref==3.8.1
Django==4.2.18
django-jazzmin==3.0.1
django-phonenumber-field==8.4.0
django-widget-tweaks==1.5.0
gunicorn==25.3.0
mysqlclient==2.2.7
openpyxl==3.1.5
phonenumbers==9.0.27
pillow==11.1.0
py3dns==4.0.2
PyMySQL==1.1.2
python-decouple==3.8
pytz==2025.2
reportlab==4.4.1
six==1.17.0
sqlparse==0.5.3
Unidecode==1.4.0
whitenoise==6.6.0
xlsxwriter==3.2.5
