
<div class="sidebar">
    {% include 'partials/title_logo.html' %}
    <div class="menu">
        <div class="menu-item">
            <a href="#"><span class="emoji-icon">📂</span>Achive direction<i class="fas fa-chevron-right"></i></a>
            <div class="submenu">
                <div class="menu-item">
                    <a href="#"><span class="emoji-icon">🧩</span>Obligatory file</a>
                </div>
                <div class="menu-item">
                    <a href="#"><span class="emoji-icon">🏢</span>Requiered file</a>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <a href="#"><span class="emoji-icon">📦</span>Document scolaire<i class="fas fa-chevron-right"></i></a>
            <div class="submenu">
                <div class="menu-item">
                    <a href="#"><span class="emoji-icon">👨‍💼</span>Désigner un délégué</a>
                </div>
                <div class="menu-item">
                    <a href=""><span class="emoji-icon">👨‍🏫</span>Tutilaire
                    </a>
                </div>
            </div>
        </div>
        <div  class="menu-item">
            <a href="#"><span class="emoji-icon">📚</span>Situation des cours<i class="fas fa-chevron-right"></i></a>
            <div class="submenu">
                <div class="menu-item">
                    <a href="#"><span class="emoji-icon">📚</span>Cours par classe</a>
                </div>
                
            </div>
        </div>
        <div class="menu-item">
            <a href="#"><span class="emoji-icon">📦</span>Calendriers scolaire<i
                    class="fas fa-chevron-right"></i></a>
            <div class="submenu">
                <div class="menu-item">
                    <a href="#"><span class="emoji-icon">👨‍💼</span>Etablir un calendrier</a>
                </div>
                <div class="menu-item">
                    <a href="{% url 'type_horaire' %}"><span class="emoji-icon">👨‍🏫</span>type horaire
                    </a>
                </div>
                <div class="menu-item">
                    <a href="{% url 'create_horaire' %}"><span class="emoji-icon">👨‍🏫</span>Horaire
                    </a>
                </div>
                <div class="menu-item">
                    <a href="{% url 'afficher_horaire' %}"><span class="emoji-icon">👨‍🏫</span>Imprimer horaire
                    </a>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <a href="#"><span class="emoji-icon">🔀</span>Changer vers<i class="fas fa-chevron-right"></i></a>
            <div class="submenu">
                {% include 'partials/url_module.html' %}
            </div>
        </div>
    </div>
  {% include 'partials/log_out_button.html' %}

</div>