{% load widget_tweaks %}
{% load static %}
<div class="table-container">
  <!--================= Affichage de l'institution -->
  {% if institution_infos %}
  <div class="col-md-6">
    <div style="background-color: rgb(255, 255, 255);" class="card">
      <div class="table-header">
        <h3>Informations de l'instution</h3>
      </div>
      <div class="card-body" style="max-height: 500px; overflow-y: auto;">
        {% for inst in institution_infos %}
        <form id="registration-form-{{ inst.id_ecole }}" method="POST" enctype="multipart/form-data"
          action="{% url 'edit_institution' inst.id_ecole %}">
          {% csrf_token %}

          <div class="institution-info">
            <strong>Ecole :</strong>
            <input type="text" name="nom_ecole" value="{{ inst.nom_ecole }}" class="form-control">

            <strong>Sigle :</strong>
            <input type="text" name="sigle" value="{{ inst.sigle }}" class="form-control">

            {% if inst.logo_ecole %}
            <div class="institution-logo">
              <strong>Logo de l'école :</strong><br>
              <img src="{{ inst.logo_ecole.url }}" alt="Logo de l'école" class="img-fluid" style="max-width: 100px;">
            </div>
            {% endif %}
            <input type="file" name="logo_ecole" class="form-control">

            {% if inst.logo_ministere %}
            <div class="institution-logo">
              <strong>Logo du Ministère :</strong><br>
              <img src="{{ inst.logo_ministere.url }}" alt="Logo du Ministère" class="img-fluid"
                style="max-width: 100px;">
            </div>
            {% endif %}
            <input type="file" name="logo_ministere" class="form-control">

            <br>
            <br>
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
          </div>
        </form>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <!--================= Affichage du campus -->
  {% if campus %}
  <div class="col-md-6">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur le(s) campus existant(s)</h3>
      </div>
      <div class="table-responsive">
        <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
          <thead class="bg-primary text-white">
            <tr>
              <th>Campus</th>
              <th>Adresse</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="studentTable">
            {% for camp in campus %}
            <tr class="align-middle" id="row-{{ camp.id_campus }}">
              <td class="fw-bold text-primary text-start" id="campus-name-{{ camp.id_campus }}">
                {{camp.campus }}
              </td>
              <td id="campus-adresse-{{ camp.id_campus }}">{{ camp.adresse }}</td>
              <td>
                <!-- Bouton Modifier -->
                <a href="#" class="btn btn-sm btn-outline-primary me-2 edit-campus-btn" data-id="{{ camp.id_campus }}">
                  <i class="fas fa-edit"></i>
                </a>
                <!-- Bouton Supprimer -->

                <form action="{% url 'delete_campus' camp.id_campus %}" method="POST" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-outline-danger">
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  <!--================= Affichage des utilisateurs  -->
  {% if personnel_list or personnel_acces %}
  <div class="col-md-6">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur le(s) personnel(s)</h3>
      </div>
      <div class="table-responsive" id="trimestre-table" style="max-height: 450px; overflow-y: auto;">
        <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
          <thead class="bg-primary text-white">
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>username</th>
              <th>email pro</th>
              <th>date joined</th>
              {% if personnel_acces %}
              <th>is user?</th>
              <th>est en fonction?</th>
              {% endif %}
              {% if personnel_list %}
              <th>Actions</th>
              {% endif %}
            </tr>
          </thead>
          <tbody id="studentTable">
            {% for person in personnel_list %}
            <tr class="align-middle">
              <td class="fw-bold text-primary text-start">{{ person.user.first_name }}</td>
              <td class="fw-bold text-primary text-start">{{ person.user.last_name }}</td>
              <td class=" text-start">{{ person.user.username}}</td>
              <td class=" text-start">{{ person.user.email}}</td>
              <td class="fw-bold text-primary text-start">{{ person.user.date_joined}}</td>
              <td>
                <a href="{% url 'editer_personnel' person.id_personnel %}"
                  class="btn btn-sm btn-outline-primary me-2 btn-edit-personnel">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="#" class="btn btn-sm btn-outline-danger">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
            {% if personnel_acces %}
            {% for person in personnel_acces %}
            <tr class="align-middle">
              <td class="fw-bold text-primary text-start">{{ person.user.first_name }}</td>
              <td class="fw-bold text-primary text-start">{{ person.user.last_name }}</td>
              <td class=" text-start">{{ person.user.username}}</td>
              <td class=" text-start">{{ person.user.email}}</td>
              <td class="fw-bold text-primary text-start">{{ person.user.date_joined}}</td>
              <td class="fw-bold text-primary text-start">
                <input type="checkbox" class="update-checkbox" data-id="{{ person.id_personnel }}" data-field="isUser"
                  {% if person.isUser %}checked{% endif %}>
              </td>
              <td class="fw-bold text-primary text-start">
                <input type="checkbox" class="update-checkbox" data-id="{{ person.id_personnel }}"
                  data-field="en_fonction" {% if person.en_fonction %}checked{% endif %}>
              </td>
            </tr>
            {% endfor %}
            {% endif %}

          </tbody>
          <tfoot style="display: none;">
            <tr>
              <td colspan="2">
                <form id="form-trimestre">
                  <input type="text" id="new-trimestre" class="form-control" placeholder="Ajouter un cycle">
              </td>
              <td>
                <button type="submit" id="add-cyle-btn" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                </form>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- ================= vacation du personnel's displaying -->
  {% if vacation_list %}
  <div class="col-md-6">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur la/le(s) personnel(s)/personnelle</h3>
      </div>
      <div class="table-responsive" id="trimestre-table" style="max-height: 450px; overflow-y: auto;">
        <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
          <thead class="bg-primary text-white">
            <tr>
              <th>vacation</th>
              <th>sigle</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for vacation in vacation_list %}
            <tr id="row-vacation-{{ vacation.id_vacation }}">
              <td id="vacation-name-{{ vacation.id_vacation }}">{{ vacation.vacation }}</td>
              <td id="vacation-sigle-{{ vacation.id_vacation }}">{{ vacation.sigle }}</td>
              <td>
                <a href="#" class="btn btn-sm btn-outline-primary edit-btn-vacation"
                  data-id="{{ vacation.id_vacation }}">
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="3">Aucune vacation disponible.</td>
            </tr>
            {% endfor %}
          </tbody>

          <tfoot style="display: none;">
            <tr>
              <td colspan="2">
                <form id="form-trimestre">
                  <input type="text" id="new-trimestre" class="form-control" placeholder="Ajouter un cycle">
              </td>
              <td>
                <button type="submit" id="add-cyle-btn" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                </form>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- =================  Type du personnel's displaying -->
  {% if typerso_list %}
  <div class="col-md-6">
    <div class="card ep-card">
      <div class="table-responsive" id="trimestre-table" style="max-height: 400px; overflow-y: auto;">
        <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
          <thead class="bg-primary text-white">
            <tr>
              <th>Type</th>
              <th>sigle</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for type in typerso_list %}
            <tr id="row-type-{{ type.id_type_personnel }}">
              <td id="type-name-{{  type.id_type_personnel }}">{{ type.type }}</td>
              <td id="type-sigle-{{  type.id_type_personnel }}">{{ type.sigle }}</td>
              <td>
                <a href="#" class="btn btn-sm btn-outline-primary edit-btn-type"
                  data-id="{{  type.id_type_personnel }}">
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="3">Aucune vacation disponible.</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot style="display: none;">
            <tr>
              <td colspan="2">
                <form id="form-trimestre">
                  <input type="text" id="new-trimestre" class="form-control" placeholder="Ajouter un cycle">
              </td>
              <td>
                <button type="submit" id="add-cyle-btn" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                </form>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- =================  Speciality du personnel's displaying -->
  {% if specialite_list %}
  <div class="col-md-6">

    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur la specialite du personnel</h3>
      </div>
      <div class="table-responsive" id="trimestre-table">
        <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
          <thead class="bg-primary text-white">
            <tr>
              <th>spécialité</th>
              <th>sigle</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for specialite in specialite_list %}
            <tr id="row-specialite-{{ specialite.id_specialite }}">
              <td id="specialite-name-{{ specialite.id_specialite }}">{{ specialite.specialite }}</td>
              <td id="specialite-sigle-{{ specialite.id_specialite }}">{{ specialite.sigle }}</td>
              <td>
                <a href="#" class="btn btn-sm btn-outline-primary edit-btn-specialite"
                  data-id="{{ specialite.id_specialite }}">
                  <i class="fas fa-edit"></i> Éditer
                </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="3">Aucune spécialité disponible.</td>
            </tr>
            {% endfor %}
          </tbody>

          <tfoot style="display: none;">
            <tr>
              <td colspan="2">
                <form id="form-trimestre">
                  <input type="text" id="new-trimestre" class="form-control" placeholder="Ajouter un cycle">
              </td>
              <td>
                <button type="submit" id="add-cyle-btn" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                </form>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  {% if form_type == 'edition_personnel' %}
  <div class="col-md-6">
    <div class="card ep-card" style="">
      <div class="table-responsive">
        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
          <div class="table-header">
            <h3>Modifications des informations du personnel</h3>
          </div>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
              {% for field in form_personnel_edit_user %}
              {% if field.name not in champ_user_masquer %}
              <div class="form-group col-md-4">
                <label>{{ field.label }}</label>
                {% render_field field class="form-control" %}
              </div>
              {% endif %}
              {% endfor %}

              {% for field in form_personnel_edit %}
              {% if field.name not in champ_person_masquer %}
              <div class="form-group col-md-4">
                <label>{{ field.label }}</label>
                {% render_field field class="form-control" %}
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <div class="form-actions">
              <button type="button" class="btn btn-secondary" id="cancelBtn"
                onclick="redirectToAjouterPersonnel()">Annuler</button>

              <button type="submit" class="btn btn-success">Mettre à jour</button>


            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- =================  Diplome du personnel's displaying -->
  {% if diplome_list %}
  <div class="col-md-6">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur les diplôme du personnel</h3>
      </div>
      <div class="card-body">

        <!-- personnel_diplome's section-->
        <div class="table-responsive" id="trimestre-table" style="max-height: 400px; overflow-y: auto;">
          <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th>diplome</th>
                <th>sigle</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for diplome in diplome_list %}
              <tr id="row-diplome-{{ diplome.id_diplome }}">
                <td id="diplome-name-{{ diplome.id_diplome }}">{{ diplome.diplome }}</td>
                <td id="diplome-sigle-{{ diplome.id_diplome }}">{{ diplome.sigle }}</td>
                <td>
                  <a href="#" class="btn btn-sm btn-outline-primary edit-btn-diplome"
                    data-id="{{ diplome.id_diplome }}">
                    <i class="fas fa-edit"></i> Éditer
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">Aucun diplôme disponible.</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot style="display: none;">
              <tr>
                <td colspan="2">
                  <form id="form-trimestre">
                    <input type="text" id="new-trimestre" class="form-control" placeholder="Ajouter un cycle">
                </td>
                <td>
                  <button type="submit" id="add-cyle-btn" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                  </form>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
  {% endif %}
  <!-- =================  Category du personnel's displaying -->
  {% if categorie_list %}
  <div class="col-md-6">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur les categories du personnel</h3>
      </div>
      <div class="card-body">
        <!-- personnel_categorie's section-->
        <div class="table-responsive" id="trimestre-table" style="max-height: 400px; overflow-y: auto;">
          <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th>categorie</th>
                <th>sigle</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for categorie in categorie_list %}
              <tr id="row-categorie-{{ categorie.id_personnel_category }}">
                <td id="categorie-name-{{ categorie.id_personnel_category }}">{{ categorie.categorie }}</td>
                <td id="categorie-sigle-{{ categorie.id_personnel_category }}">{{ categorie.sigle|default:"" }}</td>
                <td>
                  <a href="#" class="btn btn-sm btn-outline-primary edit-btn-categorie"
                    data-id="{{ categorie.id_personnel_category }}">
                    <i class="fas fa-edit"></i>
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">Aucune catégorie disponible.</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot style="display: none;">
              <tr>
                <td colspan="2">
                  <form id="form-trimestre">
                    <input type="text" id="new-trimestre" class="form-control" placeholder="Ajouter un cycle">
                </td>
                <td>
                  <button type="submit" id="add-cyle-btn" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                  </form>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- =================  classe displaying -->

  {% if classes %}
  <div class="col-md-12">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur les classes Créées</h3>
      </div>
      <div class="card-body">
        <!-- classes's section -->
        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
          <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th>Classe</th>
                <th style="display: none;">Cycle</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for clas in classes %}
              <tr class="align-middle" id="row-{{ clas.id_classe }}">
                <td class="fw-bold text-primary text-start" id="classe-name-{{ clas.id_classe }}">{{clas.classe }}
                </td>
                <td style="display: none;" id="cycle-name-{{ clas.id_classe }}">{{ clas.id_cycle.cycle }}</td>
                <td>
                  <a href="#" class="btn btn-sm btn-outline-primary me-2 edit-btn-class" data-id="{{ clas.id_classe }}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <form action="{% url 'delete_classes' clas.id_classe %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- =================  cycle'active displaying -->
  {% if classes_cycle_actif %}
  <div class="col-md-12">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur les cycles actives/année scolaire</h3>
      </div>
      <div class="card-body">
        <!-- classes's section -->
        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
          <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th>A/S</th>
                <th>Campus</th>
                <th>Cycle</th>
                <th>Nombre classes/Cycle</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="studentTable">
              {% for cycle_actif in classes_cycle_actif %}
              <tr id="row-cycle-actif-{{ cycle_actif.id_cycle_actif }}">
                <td class="fw-bold text-primary" id="cycle-annee-{{ cycle_actif.id_cycle_actif }}">{{
                  cycle_actif.id_annee.annee }}</td>
                <td id="cycle-campus-{{ cycle_actif.id_cycle_actif }}">{{ cycle_actif.id_campus.campus }}</td>
                <td id="cycle-cycle-{{ cycle_actif.id_cycle_actif }}">{{ cycle_actif.cycle_id.cycle }}</td>
                <td id="cycle-role-{{ cycle_actif.id_cycle_actif }}">{{
                  cycle_actif.nbre_classe_par_cycle_actif|default:"" }}</td>
                <td>
                  <a href="#" class="btn btn-sm btn-outline-primary me-2 edit-btn-cycle-actif"
                    data-id="{{ cycle_actif.id_cycle_actif }}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <form action="{% url 'delete_classe_cycle_actif' cycle_actif.id_cycle_actif %}" method="POST"
                    style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-danger"
                      onclick="return confirm('Voulez-vous vraiment désactiver ce cycle actif ?');">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5">Aucun cycle actif disponible.</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- =================  classe'active displaying -->
  {% if classe_active_list %}
  <div class="col-md-12">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur les classes actives/année scolaire</h3>
      </div>
      <div class="card-body">
        <!-- classes's section -->
        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
          <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
            <thead>
              <tr>
                <th>Campus</th>
                <th>Année</th>
                <th>Cycle</th>
                <th>Classe</th>
                <th>Groupe</th>
                <th>Ordre</th>
                <th>Is terminale?</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="studentTable">
              {% for classe_active in classe_active_list %}
              <tr id="row-classe-active-{{ classe_active.id_classe_active }}">
                <td class="fw-bold text-primary" id="classe-campus-{{ classe_active.id_classe_active }}">{{
                  classe_active.id_campus.campus }}</td>
                <td id="classe-annee-{{ classe_active.id_classe_active }}">{{ classe_active.id_annee.annee }}</td>
                <td id="classe-cycle-{{ classe_active.id_classe_active }}">{{ classe_active.cycle_id.cycle_id.cycle }}
                </td>
                <td id="classe-classe-{{ classe_active.id_classe_active }}">{{ classe_active.classe_id.classe }}</td>
                <td id="classe-groupe-{{ classe_active.id_classe_active }}">{{ classe_active.groupe|default:"" }}</td>
                <td id="classe-ordre-{{ classe_active.id_classe_active }}">{{ classe_active.ordre|default:"" }} position
                </td>
                <td>
                  <input type="checkbox" class="toggle-terminale" data-id="{{ classe_active.id_classe_active }}" {% if
                    classe_active.isTerminale %}checked{% endif %}>
                </td>


                <td>
                  <a href="#" class="btn btn-sm btn-outline-primary me-2 edit-btn-classe-active"
                    data-id="{{ classe_active.id_classe_active }}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <form action="{% url 'delete_classe_active' classe_active.id_classe_active %}" method="POST"
                    style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-danger"
                      onclick="return confirm('Voulez-vous vraiment désactiver cette classe active ?');">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="7">Aucune classe active disponible.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- =================  Annee displaying -->

  {% if annees %}
  <div class="col-md-6">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur les années créées</h3>
      </div>
      <div class="card-body">
        <!-- Annee's section -->
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
          <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th>Annee scolaire</th>
                <th>Etat</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for an in annees %}
              <tr class="align-middle" id="row-annee-{{ an.id_annee }}">
                <td class="fw-bold text-primary text-start" id="annee-name-{{ an.id_annee }}">{{ an.annee }}</td>
                <td id="annee-etat-{{ an.id_annee }}">{{ an.get_etat_annee_display }}</td>
                <td>
                  <a href="#" class="btn btn-sm btn-outline-primary me-2 edit-btn-annee" data-id="{{ an.id_annee }}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <form action="{% url 'delete_annee' an.id_annee %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-danger"
                      onclick="return confirm('Voulez-vous vraiment désactiver cette année ?');">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
  {% endif %}

  <!-- =================  Classe/cycle displaying -->

  {% if classes_cycle %}
  <div class="col-md-6">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur les classes/cycle</h3>
      </div>
      <div class="card-body" style="max-height: 400px; overflow-y: auto;">
        <!-- classes_cycles -->
        <div class="table-responsive" id="trimestre-table">
          <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th>Cycle</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for cycle in classes_cycle %}
              <tr id="row-{{ cycle.id_cycle }}">
                <td class="fw-bold text-primary" id="cycle-name-{{ cycle.id_cycle }}">{{ cycle.cycle }}</td>
                <td>
                  <a href="#" class="btn btn-sm btn-outline-primary me-2 edit-btn-cycle" data-id="{{ cycle.id_cycle }}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <form action="{% url 'delete_cycles' cycle.id_cycle %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-danger"
                      onclick="return confirm('Voulez-vous vraiment désactiver ce cycle ?');">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot style="display: none;">
              <tr>
                <td colspan="2">
                  <form id="form-trimestre">
                    <input type="text" id="new-trimestre" class="form-control" placeholder="Ajouter un cycle">
                </td>
                <td>
                  <button type="submit" id="add-cyle-btn" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                  </form>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
  {% endif %}
  <!-- =================  Trimestre displaying -->

  {% if trimestres %}
  <div class="col-md-6">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur les trimestres créées</h3>
      </div>
      <div class="card-body" style="max-height: 400px; overflow-y: auto;">
        <!-- Trimestre's displaying -->
        <div class="table-responsive" id="trimestre-table">
          <table class="table table-bordered table-hover text-center shadow-sm">

            <thead>
              <tr>
                <th>Trimestre</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for trimestre in trimestres %}
              <tr id="row-trimestre-{{ trimestre.id_trimestre }}">
                <td class="fw-bold text-primary" id="trimestre-name-{{ trimestre.id_trimestre }}">{{ trimestre.trimestre
                  }}</td>
                <td>
                  <a href="#" class="btn btn-sm btn-outline-primary me-2 edit-btn-trimestre"
                    data-id="{{ trimestre.id_trimestre }}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <form action="{% url 'delete_trimestre' trimestre.id_trimestre %}" method="POST"
                    style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-danger"
                      onclick="return confirm('Voulez-vous vraiment désactiver ce trimestre ?');">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="2">Aucun trimestre disponible.</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot style="display: none;">
              <tr>
                <td colspan="2">
                  <form id="form-trimestre">
                    <input type="text" id="new-trimestre" class="form-control" placeholder="Ajouter un cycle">
                </td>
                <td>
                  <button type="submit" id="add-cyle-btn" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                  </form>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  {% if trimestres_classes or trimestre_classes|length == 0 %}
  <div class="col-md-12">
    <div id="trimestre-table" class="ep-card" style="max-height: 500px; overflow-y: auto; display: none;" class="card">
      <div class="table-header">
        <h3>Informations sur les trimestres créées par classe</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="trimestre-table" class="table table-bordered table-hover text-center shadow-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th>Trimestre</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>État</th>
                <th>Actions</th>
              </tr>
            </thead>
            <input type="hidden" id="selected-cours-id" value="">
            <tbody id="tbody-trimestres">
              <!-- Les lignes seront insérées ici dynamiquement -->
            </tbody>
            {% if trimestre_classes or trimestre_classes|length == 0 %}
            <tfoot>
              <tr>
                <form id="addTrimestreForm" method="POST">
                  {% csrf_token %}
                  <table>
                    <tr>
                      <td>
                        <select id="id_trimestre" name="trimestre" class="form-control">
                          <option value="">-------</option>
                        </select>
                      </td>
                      <td>
                        <input type="date" id="new-date_debut" name="date_debut" class="form-control" />
                      </td>
                      <td>
                        <input type="date" id="new-date_fin" name="date_fin" class="form-control" />
                      </td>
                      <td>
                        <button type="submit" id="add-trimestre-btn" class="btn btn-primary">
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                  </table>
                </form>

              </tr>
            </tfoot>
            {% endif %}
          </table>
        </div>
      </div>
    </div>

  </div>
  {% endif %}


  {% if periodes_classes or periodes_classes|length == 0 %}
  <div class="col-md-12">
    <div id="periode-table" class="ep-card" style="max-height: 500px; overflow-y: auto; display: none;" class="card">
      <div class="table-header">
        <h3>Informations sur les trimestres créées par classe</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="periode-table" class="table table-bordered table-hover text-center shadow-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th>Période</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>État</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="tbody-periodes">
              <!-- Les lignes seront insérées ici dynamiquement -->
            </tbody>
            {% if periodes_classes or periodes_classes|length == 0 %}
            <tfoot>
              <tr>
                <form id="addPeriodeForm" method="POST">
                  {% csrf_token %}
                  <table>
                    <tr>
                      <td>
                        <select id="id_periode" name="periode" class="form-control">
                          <option value="">-------</option>
                        </select>
                      </td>
                      <td>
                        <input type="date" id="new-date_debut" name="date_debut" class="form-control" />
                      </td>
                      <td>
                        <input type="date" id="new-date_fin" name="date_fin" class="form-control" />
                      </td>
                      <td>
                        <button type="submit" id="add-periode-btn" class="btn btn-primary">
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                  </table>
                </form>
              </tr>
            </tfoot>
            {% endif %}
          </table>
        </div>
      </div>
    </div>

  </div>
  {% endif %}
  <div id="alert-container" class="position-fixed top-0 end-0 p-3" style="z-index: 1050;"></div>

  <!-- =================  Periode displaying -->
  {% if periodes %}
  <div class="col-md-6">
    <div class="card ep-card">
      <div class="table-header">
        <h3>Informations sur les périodes créées</h3>
      </div>
      <div class="card-body" style="max-height: 400px; overflow-y: auto;">
        <!-- periodes's displaying -->
        <div class="table-responsive" id="trimestre-table">
          <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th>Période</th>
                <th>Trimestre</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for periode in periodes %}
              <tr id="row-periode-{{ periode.id_periode }}">
                <td class="fw-bold text-primary" id="periode-name-{{ periode.id_periode }}">{{ periode.periode }}</td>
                <td id="periode-trimestre-{{ periode.id_periode }}">{{ periode.id_trimestre.trimestre }}</td>
                <td>
                  <a href="#" class="btn btn-sm btn-outline-primary me-2 edit-btn-periode"
                    data-id="{{ periode.id_periode }}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <form action="{% url 'delete_periode' periode.id_periode %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-danger"
                      onclick="return confirm('Voulez-vous vraiment désactiver cette période ?');">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">Aucune période disponible.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="modal fade" id="editPeriodeModal" tabindex="-1" aria-labelledby="editPeriodeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPeriodeModalLabel">Modifier la période</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editPeriodeForm">
            {% csrf_token %}
            <input type="hidden" id="edit-id_periode" name="id_periode">
            <div class="mb-3">
              <label for="edit-id_periode_select" class="form-label">Période</label>
              <select id="edit-id_periode_select" name="periode" class="form-control">
                <option value="">-------</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="edit-date_debut" class="form-label">Date de début</label>
              <input type="date" id="edit-date_debut" name="date_debut" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="edit-date_fin" class="form-label">Date de fin</label>
              <input type="date" id="edit-date_fin" name="date_fin" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="edit-isOpen" class="form-label">État</label>
              <select id="edit-isOpen" name="isOpen" class="form-control">
                <option value="true">Ouvert</option>
                <option value="false">Clôturé</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- displaying personnel -->

  <div class="col-md-6">
    <div id="personnel-table" class="card ep-card" style="display: none;">
      <div class="table-header">
        <h3>Liste du personnel</h3>
        <button type="submit" class="btn btn-success" id="submitResponsableBtn">Ajouter</button>
      </div>
      <div class="card-body" style="max-height: 400px; overflow-y: auto;">
        <div class="table-responsive" id="personnelTableContainer">
          <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Accès à cette classe</th>
              </tr>
            </thead>
            <tbody id="personnelTableBody"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div id="personnel-access-table" class="card ep-card" style="display: none;">
      <div class="table-header">
        <h3>Liste du personnel et leurs module </h3>
      </div>
      <div class="card-body" style="max-height: 400px; overflow-y: auto;">
        <div class="table-responsive">
          <table id="basic-datatables" class="table table-bordered table-hover text-center shadow-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th>Nom et prenom</th>
                <th>Module</th>
                <th>Accès sur un module?</th>
              </tr>
            </thead>
            <tbody id="personnelTabBody">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>


</div>


<!-- user'acces tutilariat access -->
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();

        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function showField(field) {
    field.style.display = 'block';
  }

  function updateDropdown(url, dropdown, idKey, nameKey) {
    fetch(url)
      .then(response => response.json())
      .then(data => {
        dropdown.innerHTML = '<option value="">------</option>';
        if (data.length > 0) {
          data.forEach(item => {
            let option = document.createElement("option");
            option.value = item[idKey];
            option.textContent = item[nameKey];
            if (item.id_campus) option.dataset.campus = item.id_campus;
            if (item.id_cycle) option.dataset.cycle = item.id_cycle;
            if (item.id) option.dataset.classe = item.id;
            dropdown.appendChild(option);
          });
          showField(dropdown);
        } else {
          console.log("Aucune donnée trouvée pour", dropdown.id);
        }
      })
      .catch(error => console.error("Erreur lors du chargement :", error));
  }

  document.addEventListener('DOMContentLoaded', function () {
    if (window.location.pathname.includes("/classe_active_responsable_form/")) {
      const anneeField = document.getElementById('id_id_annee');
      const classeField = document.getElementById('id_id_classe');
      const campusField = document.getElementById('id_campus');
      const cycleField = document.getElementById('id_cycle');
      const personnelTable = document.getElementById('personnel-table');
      const personnelTableBody = document.getElementById('personnelTableBody');
      const submitBtn = document.getElementById('submitResponsableBtn');
      const getFromSession = (key) => sessionStorage.getItem(key);
      let modal = document.getElementById("modalContainer")


      updateDropdown('/get_all_years/', anneeField, 'id_annee', 'annee');
      personnelTable.style.display = 'none';

      anneeField.addEventListener('change', function () {
        if (this.value) {
          updateDropdown(`/get_classe_exclude_responsable_year/?id_annee=${this.value}`, classeField, 'id', 'label');
        } else {
          classeField.innerHTML = '<option value="">------</option>';
          personnelTable.style.display = 'none';
        }
      });

      classeField.addEventListener('change', function () {
        if (this.value) {
          const selectedOption = this.options[this.selectedIndex];

          const campusId = selectedOption.dataset.campus || '';
          const cycleId = selectedOption.dataset.cycle || '';
          const classeId = selectedOption.dataset.classe;
          const anneeField = document.getElementById('id_id_annee');
          const anneeId = anneeField.value

          campusField.value = campusId;
          cycleField.value = cycleId;
          modal.style.display = 'none';


          if (!campusId || !cycleId || !classeId || !anneeId) {
            console.warn('Avertissement : paramètre manquant (campus/cycle/classe/année)');
            return;
          }

          fetch(`/get_personnel/?id_campus=${campusId}&id_cycle=${cycleId}&id_classe=${classeId}&id_annee=${anneeId}`)
            .then(response => response.json())
            .then(data => {
              personnelTableBody.innerHTML = '';
              data.forEach(person => {
                const row = document.createElement('tr');
                row.innerHTML = `
              <td>${person.nom}</td>
              <td>${person.prenom}</td>
              <td>
                <input type="checkbox" class="personnel-checkbox" value="${person.id}" ${person.selected ? 'checked' : ''}>
              </td>
            `;
                personnelTableBody.appendChild(row);

                const checkbox = row.querySelector('.personnel-checkbox');
                checkbox.addEventListener('change', function () {
                  const personnelId = this.value;

                  if (!this.checked) {
                    fetch('/delete_responsable/', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                      },
                      body: JSON.stringify({
                        personnel_id: personnelId,
                        id_campus: campusId,
                        id_cycle: cycleId,
                        id_classe: classeId,
                        id_annee: anneeId
                      })
                    })
                      .then(response => {
                        if (!response.ok) {
                          throw new Error('Suppression échouée');
                        }
                        return response.json();
                      })
                      .then(data => {
                        alert('Opération réussie vous venez de réfuser accès au personnel dans cette classe', data);
                      })
                      .catch(error => {
                        console.error("Erreur lors de la suppression :", error);
                      });
                  }
                });
              });

              personnelTable.style.display = 'block';
            })
            .catch(error => console.error("Erreur lors du chargement du personnel :", error));
        }
      });

      submitBtn.addEventListener('click', function () {
        const checkboxes = document.querySelectorAll('.personnel-checkbox:checked');
        const personnelIds = Array.from(checkboxes).map(cb => cb.value);


        if (personnelIds.length === 0) {
          alert('Veuillez sélectionner au moins un responsable.');
          return;
        }

        const anneeId = anneeField.value;
        const classeId = classeField.value;
        const campusId = campusField.value;
        const cycleId = cycleField.value;

        if (!anneeId || !classeId || !campusId || !cycleId) {
          alert('Veuillez sélectionner une année et une classe valides.');
          return;
        }

        const formData = new FormData();
        formData.append('id_annee', anneeId);
        formData.append('id_classe', classeId);
        formData.append('id_campus', campusId);
        formData.append('id_cycle', cycleId);
        formData.append('personnel_ids', personnelIds.join(','));
        formData.append('csrfmiddlewaretoken', document.querySelector('[name=csrfmiddlewaretoken]').value);


        fetch('/classe_active_responsable_form/', {
          method: 'POST',
          body: formData,
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              alert('Responsables enregistrés avec succès !');
              classeField.value = '';
              personnelTable.style.display = 'none';
              anneeField.value = '';
              campusField.value = '';
              cycleField.value = '';
            } else {
              alert('Erreur : ' + (data.error || 'Échec de l\'enregistrement'));
            }
          })
          .catch(error => {
            console.error('Erreur lors de la soumission :', error);
            alert('Erreur lors de l\'enregistrement. Veuillez réessayer.');
          });
      });
    }
  });
</script>
<!-- Definir la classe terminale bouton -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".toggle-terminale").forEach(function (checkbox) {
      checkbox.addEventListener("change", function () {
        const id = this.dataset.id;
        const isChecked = this.checked;

        fetch("{% url 'toggle_terminale_status' %}", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
          },
          body: JSON.stringify({
            id_classe_active: id,
            isTerminale: isChecked
          })
        })
          .then(response => response.json())
          .then(data => {
            if (data.status !== "ok") {
              alert("Erreur lors de la mise à jour.");
              this.checked = !isChecked;
            }
          })
          .catch(error => {
            alert("Erreur de communication.");
            this.checked = !isChecked;
          });
      });
    });
  });
</script>
<!-- access denied script -->
<script>
  document.getElementById("id_id_annee").addEventListener("change", function () {
    if (window.location.pathname.includes("/refus_user/")) {
      let id_annee = this.value;
      let modal = document.getElementById("modalContainer");

      if (!id_annee) return;

      modal.style.display = "none";

      fetch(`/api/user-modules/?id_annee=${id_annee}`)
        .then(response => response.json())
        .then(data => {
          let tbody = document.getElementById("personnelTabBody");
          tbody.innerHTML = "";

          if (data.results && data.results.length > 0) {
            data.results.forEach(person => {
              let tr = document.createElement("tr");
              tr.innerHTML = `
                            <td>${person.nom_complet}</td>
                            <td>${person.module}</td>
                            <td>
                                <input type="checkbox" class="update-checkbox" 
                                    data-id="${person.id_user_module}" 
                                    ${person.is_active ? "checked" : ""}>
                            </td>
                        `;
              tbody.appendChild(tr);
            });

            document.getElementById("personnel-access-table").style.display = "block";

            document.querySelectorAll(".update-checkbox").forEach(cb => {
              cb.addEventListener("change", function () {
                let id = this.dataset.id;
                let checked = this.checked;

                fetch("/api/user-modules/update/", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken")
                  },
                  body: JSON.stringify({
                    id_user_module: id,
                    is_active: checked
                  })
                })
                  .then(res => res.json())
                  .then(resp => {
                    if (!resp.success) {
                      alert("Erreur : " + resp.error);
                    }
                  });
              });
            });
          } else {
            tbody.innerHTML = `<tr><td colspan="3" class="text-muted">Aucun utilisateur trouvé</td></tr>`;
          }
        })
        .catch(error => {
          console.error("Erreur API :", error);
        });
    }
  });

</script>